@model IEnumerable<RentalViewModel>


<div class="alert alert-dismissible bg-light-warning border border-warning border-3 border-dashed d-flex  flex-column flex-sm-row  w-100 p-5 justify-content-between" style="display: @(Model.Any() ? "none !important" : "unset")" id="Alert">
    <div class="d-flex flex-row justify-content-center justify-content-sm-start pe-0 pe-sm-10">
        <i class="bi bi-exclamation-octagon-fill me-5  text-warning align-self-center fs-1"></i>
        <h5 class="mt-2 align-self-center">This subscriber has no rentals!</h5>
    </div>
</div>


<div id="kt_table_customers_payment_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
    <div class="table-responsive">
        <!--begin::Table-->
        <table id="rentalsTable" class=" table align-middle gs-0 gy-4 js-responsive-table" style="display: @(!Model.Any() ? "none" : string.Empty)">
            <!--begin::Table head-->
            <thead>
                <tr class="fw-bold text-muted bg-light">
                    <th class="ps-4 min-w-125px rounded-start">Start Date</th>
                    <th class="min-w-125px">Number Of Copies</th>
                    <th class="min-w-125px">Total Delay (Days)</th>
                    <th class="min-w-125px">Added On</th>
                    <th class="min-w-125px rounded-end">Actions</th>
                </tr>
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody>
                @foreach (var rental in Model.OrderByDescending(r => r.CreatedOnUtc))
                {
                    <tr>
                        <td data-label="Start Date" class="ps-0 ps-md-4">
                            @rental.StartDate.ToString("d MMM, yyyy")
                        </td>
                        <td data-label="Copies" >
                            @rental.NumberOfCopies
                        </td>
                        <td data-label="Delay (Days)">
                            @rental.TotalDelayInDays
                        </td>
                        <td data-label="Created On" class="js-created-on" data-utc="@rental.CreatedOnUtc.ToString("o")">
                        </td>
                        <td class="d-flex justify-content-between gap-3 pt-3 mt-2 border-top js-actions">
                            <a class="btn btn-primary btn-sm w-100" asp-controller="Rentals" asp-action="Details" asp-route-id="@rental.Id">Details</a>
                            @if (rental.CreatedOnUtc.Date == DateTime.UtcNow.Date)
                            {
                                <a href="javascript:;" class="btn btn-light-danger btn-sm w-100 js-cancel-rental" data-id="@rental.Id">Cancel</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
    </div>
</div>