@model SubscriberViewModel
@{
    ViewData["Title"] = "Details";
    var lastSubscription = Model.Subscriptions.OrderBy(s => s.EndDate).Last();

    var subscriberStatus = Model.IsBlackListed ? SubscriberStatus.Banned 
        : lastSubscription.EndDate < DateTime.Today 
        ? SubscriberStatus.InActive : SubscriberStatus.Active;

    var statusClass = Model.IsBlackListed ? "danger"
        : lastSubscription.EndDate < DateTime.Today
        ? "warning" : "success";

    string statusIcon = subscriberStatus switch
    {
        SubscriberStatus.Active => "fa-award",
        SubscriberStatus.Banned => "fa-ban",
        _ => "fa-triangle-exclamation"
    };
}

<!--begin::header-->
<div class="alert alert-dismissible bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <div class="d-flex align-items-center">
        <!--begin::Icon-->
        <div class="symbol symbol-50px me-4 ">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <i class="fa-solid fa-id-card-clip fa-lg text-dark"></i>
            </div>
        </div>
        <!--end::Icon-->
        <!--begin::Content-->
        <div class="d-flex flex-column  justify-content-center pe-0 pe-sm-10">
            <h3 class="mb-1">Subscriber Details</h3>
        </div>
    </div>
    <!--end::Content-->
    <!--begin::Add-->
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Key" class="btn btn-md btn-primary  fs-5 w-100">
            <i class="fa-solid fa-pen-to-square fs-3"></i>
            Edit
        </a>
    </div>
    <!--end::Add-->
</div>
<!--end::header-->

<div class="content flex-column-fluid" id="kt_content">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-xl-row">
        <!--begin::Sidebar-->
        <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
        
            <!--begin::Card-->
            <div class="card mb-5 mb-xl-8">
                <!--begin::Card body-->
                <div class="card-body pt-15">
                    <!--begin::Summary-->
                    <div class="d-flex flex-center flex-column mb-5">
                        <!--begin::Avatar-->
                        <div class="symbol symbol-150px   mb-7">
                            <a class="d-block overlay" data-fslightbox href="@Model.ImageUrl">
                                <img class="overlay-wrapper rounded-1" src="@Model.ImageThumbnailUrl" alt="image">
                                <div class="overlay-layer card-rounded bg-dark bg-opacity-25 shadow">
                                    <i class="bi bi-eye-fill text-white fs-3x"></i>
                                </div>
                            </a>
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Name-->
                        <p class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">
                            @Model.FullName
                        </p>
                        <!--end::Name-->
                        <!--begin::Email-->
                        <p class="fs-5 fw-semibold text-muted text-hover-primary mb-6">
                            @Model.Email
                        </p>
                        <!--end::Email-->
                    </div>
                    <!--end::Summary-->
                    <!--begin::Details toggle-->
                    <div class="d-flex flex-stack fs-4 py-3">
                        <div class="fw-bold">
                            Details
                        </div>

                        <!--begin::Badge-->
                        <div id="BadgeStatus" class="badge badge-light-@statusClass d-inline">@subscriberStatus Subscriber</div>
                        <!--begin::Badge-->
                    </div>
                    <!--end::Details toggle-->

                    <div class="separator separator-dashed my-3"></div>

                    <!--begin::Details content-->
                    <div class="pb-5 fs-6">
                        <!--begin::Details item-->
                        <div class="fw-bold mt-5">Account ID</div>
                        <div class="text-gray-600">ID-@Model.Id</div>
                        <!--end::Details item-->
                        <!--begin::Details item-->
                        <div class="fw-bold mt-5">Mobile No.</div>
                        <div class="text-gray-600"><p class="text-gray-600 text-hover-primary">@Model.MobileNumber</p></div>
                        <!--end::Details item-->
                        <!--begin::Details item-->
                        <div class="fw-bold mt-5">National ID</div>
                        <div class="text-gray-600"><p class="text-gray-600 text-hover-primary">@Model.NationalId</p></div>
                        <!--end::Details item-->
                        <!--begin::Details item-->
                        <div class="fw-bold mt-5">Date of birth</div>
                        <div class="text-gray-600"><p class="text-gray-600 text-hover-primary">@Model.DateOfBirth.ToString("dd MMM, yyyy")</p></div>
                        <!--end::Details item-->
                        <!--begin::Details item-->
                        <div class="fw-bold mt-5">Address</div>
                        <div class="text-gray-600"><p class="text-gray-600">@Model.Address,<br />@Model.Area<br />@Model.Governorate</p></div>
                        <!--end::Details item-->
                    </div>
                    <!--end::Details content-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Sidebar-->
        <!--begin::Content-->
        <div class="flex-lg-row-fluid ms-lg-15">
            <!--begin:::Tabs-->
            <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8" role="tablist">
                <!--begin:::Tab item-->
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_customer_overview" aria-selected="true" role="tab">Overview</a>
                </li>
                <!--end:::Tab item-->
                <!--begin:::Tab item-->
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_customer_general" aria-selected="false" tabindex="-1" role="tab">Rentals</a>
                </li>
                <!--end:::Tab item-->
            </ul>
            <!--end:::Tabs-->
            <!--begin:::Tab content-->
            <div class="tab-content" id="myTabContent">
                <!--begin:::Tab pane-->
                <div class="tab-pane fade show active" id="kt_ecommerce_customer_overview" role="tabpanel">
                    <div class="row row-cols-1 row-cols-md-2 mb-6 mb-xl-9">
                        <div class="col">
                            <!--begin::Card-->
                            <div class="card pt-4 h-md-100 mb-6 mb-md-0">
                                <!--begin::Card header-->
                                <div class="card-header border-0">
                                    <!--begin::Card title-->
                                    <div class="card-title">
                                        <h2 class="fw-bold">Reward Points</h2>
                                    </div>
                                    <!--end::Card title-->
                                </div>
                                <!--end::Card header-->
                                <!--begin::Card body-->
                                <div class="card-body pt-0">
                                    <div class="fw-bold fs-2">
                                        <div class="d-flex">
                                            <i class="fa-solid fa-heart text-info fs-2x"></i>
                                            <div class="ms-2">
                                                4,571 <span class="text-muted fs-4 fw-semibold">Points earned</span>
                                            </div>
                                        </div>
                                        <div class="fs-7 fw-normal text-muted">Earn reward points with every purchase.</div>
                                    </div>
                                </div>
                                <!--end::Card body-->
                            </div>
                            <!--end::Card-->
                        </div>


                        <div class="col">
                            <!--begin::Reward Tier-->
                            <a  id="CardStatus" href="#" class="card  bg-@statusClass  hoverable h-md-100">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <i id="ActiveStatusIcon" class="fa-solid @statusIcon text-white fs-3x"></i>
                                    <div id="ActiveCard" class="text-white fw-bold fs-2 mt-5">
                                        @subscriberStatus Subscriber
                                    </div>

                                    <div class="fw-semibold text-white">
                                        Subscriber since: @Model.CreatedOnUtc.ToString("dd MMM, yyyy")
                                    </div>
                                </div>
                                <!--end::Body-->
                            </a>
                            <!--end::Reward Tier-->
                        </div>
                    </div>


                    <!--begin::Card-->
                    <div class="card pt-4 mb-6 mb-xl-9">
                        <!--begin::Card header-->
                        <div class="card-header border-0 py-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold fs-3 mb-1">Renewal History</span>
                            </h3>
                            @if (!Model.IsBlackListed)
                            {
                                <div class="card-toolbar">
                                    <a href="javascript:;" class="btn btn-sm btn-light-primary js-renew" data-key="@Model.Key">
                                        <i class="fa-solid fa-arrow-rotate-right "></i>
                                        Renew
                                    </a>
                                </div>
                            }
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0 pb-5">
                            <!--begin::Table-->
                            <div id="kt_table_customers_payment_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table id="subscriptionTable" class="table align-middle gs-0 gy-4">
                                        <!--begin::Table head-->
                                        <thead>
                                            <tr class="fw-bold text-muted bg-light">
                                                <th class="ps-4 min-w-125px rounded-start">Start Date</th>
                                                <th class="min-w-125px">End Date</th>
                                                <th class="min-w-125px">Status</th>
                                                <th class="min-w-125px rounded-end">Added On</th>
                                            </tr>
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody>
                                            @foreach (var subscription in Model.Subscriptions.OrderByDescending(s => s.EndDate))
                                            {
                                                <partial name="_SubscriptionRow" model="@subscription" />
                                            }
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Table-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end:::Tab pane-->
                <!--begin:::Tab pane-->
                <div class="tab-pane fade" id="kt_ecommerce_customer_general" role="tabpanel">
                    <!--begin::Card-->
                    <div class="card pt-4 mb-6 mb-xl-9">
                        <!--begin::Card header-->
                        <div class="card-header border-0">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <h2>Rentals</h2>
                            </div>
                            <!--end::Card title-->
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0 pb-5">
                            Rentals will be here
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                
                </div>
                <!--end:::Tab pane-->

            </div>
            <!--end:::Tab content-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Layout-->
					
</div>

@section Scripts {
    <script src="~/js/renew-subscription.js" asp-append-version="true"></script>
}

@section Plugins {
    <script src="~/assets/plugins/fslightbox/fslightbox.bundle.js"></script>
}