@model BookCopyViewModel
<tr class="d-block mb-4 mb-md-0 d-md-table-row">
    <td data-label="Serial Number">@Model.SerialNumber</td>
    <td data-label="Edition Number">@Model.EditionNumber</td>
    <td data-label="Rental">
        <span class="badge badge-light-@(Model.IsAvailableForRental ? "success" : "warning")">
            @(Model.IsAvailableForRental ? "Available" : "Not Available")
        </span>
    </td>
    <td data-label="Status">
        <span class="badge badge-light-@(Model.IsDeleted ? "danger" : "success") js-status">
            @(Model.IsDeleted ? "Deleted" : "Available")
        </span>
    </td>
    <td data-label="Created On" class="js-created-on" data-utc="@Model.CreatedOnUtc.ToString("o")" data-order="@Model.CreatedOnUtc.ToString("o")"></td>
    <td class="ps-5">
        <a asp-controller="BookCopies" asp-action="RentalHistory" asp-route-id="@Model.Id"
           class="btn btn-light-primary  btn-flex d-block d-md-inline-block  btn-center btn-sm text-nowrap w-100 w-md-auto">
           History
       </a>
    </td>
    <td class="text-center">
        <a href="#"
               class="btn btn-light btn-active-light-primary btn-flex d-block d-md-inline-block  btn-center btn-sm text-nowrap w-100 w-md-auto"
               data-kt-menu-trigger="click"
               data-kt-menu-placement="bottom-end">
            Actions
            <i class="fa-solid fa-angle-down fs-5 ms-2 fa-sm"></i>
        </a>
        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true" >
            <!--begin::Menu item-->
            <div class="menu-item px-3">
                <a href="javascript:;" data-url="/BookCopies/Edit/@Model.Id" 
                data-title="Edit Copy"
                data-mode="true"
                class="menu-link  px-3 js-render-modal">
                    Edit
                </a>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3">
                <a href="javascript:;" class="menu-link flex-stack px-3 js-toggle-status" 
                data-url="/BookCopies/ToggleStatus/@Model.Id">
                    Toggle status
                </a>
            </div>
            <!--end::Menu item-->                          
        </div>
    </td>
</tr>