@model BooksReportViewModel
@{
    ViewData["Title"] = "Books Report";
}

<div class="card mb-4">
    <div class="card-body">
        <form id="Filters" method="get" asp-controller="Reports">
            <input type="hidden" id="PageNumber" name="PageNumber" value="1" />
            <div class="row">
                <div class="col">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <select class="form-select form-select-solid js-select2" asp-for="SelectedAuthors" asp-items="Model.Authors" data-placeholder="Select authors">
                                <option value="">Select Authors</option>
                            </select>
                            <label asp-for="SelectedAuthors"></label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <select class="form-select form-select-solid js-select2" asp-for="SelectedCategories" asp-items="Model.Categories" data-placeholder="Select categories">
                                <option value="">Select Categories</option>
                            </select>
                            <label asp-for="SelectedCategories"></label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Show Report</button>
        </form>
    </div>
</div>
@if (Model.Books is not null)
{
    <div class="card mb-4">
        <div class="card-header">
            <div class="card-title">
                <span>Books</span>
            </div>
            @if (Model.Books.Any())
            {
                <div class="card-toolbar  gap-3">
                    <a class="btn btn-light-success w-100 w-md-auto" asp-action="ExportBooksToExcel"
                       asp-route-authors="@Context.Request.Query["SelectedAuthors"]"
                       asp-route-categories="@Context.Request.Query["SelectedCategories"]">
                        <i class="fa-solid fa-file-excel"></i>
                        Export to Excel
                    </a>
                    <a class="btn btn-light-danger  w-100 w-md-auto" asp-action="ExportBooksToPDF"
                       asp-route-authors="@Context.Request.Query["SelectedAuthors"]"
                       asp-route-categories="@Context.Request.Query["SelectedCategories"]">
                        <i class="fa-solid fa-file-pdf"></i>
                        Export to PDF
                    </a>
                </div>
            }
        </div>
        <div class="card-body">
            <partial name="_Pagination" model="new PaginatedViewModel { PageNumber = Model.Books.PageNumber, TotalPages = Model.Books.TotalPages }" />
            @if (Model.Books.Any())
            {
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 gy-2 align-middle js-responsive-table">
                        <thead>
                            <tr class="fw-bold fs-5 text-white bg-black ">
                                <th class="ps-4 rounded-start">ISBN</th>
                                <th>Title</th>
                                <th>Authors</th>
                                <th>Categories</th>
                                <th>Publisher</th>
                                <th>Publishing Date</th>
                                <th>Hall</th>
                                <th>Available for rental</th>
                                <th class="pe-4 rounded-end">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in Model.Books)
                            {
                                <tr>
                                    <td data-label="ISBN" class="ps-md-4">@book.Isbn</td>
                                    <td data-label="Title">@book.Title</td>
                                    <td data-label="Authors">@string.Join(", ", book.Authors)</td>
                                    <td data-label="Catrgories">@string.Join(", ", book.Categories)</td>
                                    <td data-label="Publisher">@book.Publisher</td>
                                    <td data-label="Publishing Date">@book.PublishingDate.ToString("d MMM, yyyy")</td>
                                    <td data-label="Hall">@book.Hall</td>
                                    <td data-label="Available for rental">@(book.IsAvailableForRental ? "Yes" : "No")</td>
                                    <td data-label="Status" class="pe-4">@(book.IsDeleted ? "Deleted" : "Available")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {

                <h5>No books were found!</h5>
            }

        </div>
    </div>
}

@section Scripts {
    <script src="~/js/reports.js" asp-append-version="true"></script>
}