@model DelayedRentalsViewModel
@{
    ViewData["Title"] = "Delayed Rentals Report";
}


<div class="card mb-4">
    <div class="card-header">
        <div class="card-title">
            <span>Delayed Rentals</span>
        </div>
        @if (Model.Rentals.Any())
        {
            <div class="card-toolbar gap-3">
                <a class="btn btn-light-success" asp-action="ExportDelayedRentalsToExcel">
                    <i class="fa-solid fa-file-excel"></i>
                    Export to Excel
                </a>
                <a class="btn btn-light-danger" asp-action="ExportDelayedRentalsToPDF">
                    <i class="fa-solid fa-file-pdf"></i>
                    Export to PDF
                </a>
            </div>
        }
    </div>
    <div class="card-body">
        @if (Model.Rentals.Any())
        {
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 gy-2 align-middle">
                    <thead>
                        <tr class="fw-bold fs-5 text-white bg-black">
                            <th class="ps-4 rounded-start">Subscriber ID</th>
                            <th>Subscriber Name</th>
                            <th>Subscriber Mobile</th>
                            <th>Book Title</th>
                            <th>Book Serial</th>
                            <th>Rental Date</th>
                            <th>End Date</th>
                            <th>Extended On</th>
                            <th class="pe-4 rounded-end">Delay in Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rental in Model.Rentals)
                        {
                            <tr>
                                <td class="ps-4" >@rental.SubscriberId</td>
                                <td>@rental.SubscriberName</td>
                                <td>@rental.SubscriberMobile</td>
                                <td>@rental.BookTitle</td>
                                <td>@rental.BookSerialNumber</td>
                                <td>@rental.RentalDate.ToString("d MMM, yyyy")</td>
                                <td>@rental.EndDate.ToString("d MMM, yyyy")</td>
                                <td>@(rental.ExtendedOn is null ? "-" : rental.ExtendedOn.Value.ToString("d MMM, yyyy"))</td>
                                <td class="pe-4">@rental.DelayInDays</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {

            <h5>No delayed rentals</h5>
        }

    </div>
</div>


@section Scripts {
    <script src="~/js/reports.js" asp-append-version="true"></script>
}